<html>

<head>
    <title>Smart Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <form method="POST">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" value= href="dashboard.html">Dashboard</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a href="insert.html">Insert a Book</a></li>
        <a class="nav-item nav-link" href="insert.html">Insert a Book</a>
        <button type="submit" class="btn btn-danger navbar-btn" name="button" value="Insert a New Book">Insert a Book</button>
        <button type="submit" class="btn btn-danger navbar-btn" name="button" value="Delete a Book">Remove a Book</button>
      </ul>
      
    </div>
  </nav>
  
<div class="container">
<h1> Delete Book</h1>
<form method="POST">
  <input type="number" name="id" placeholder="Book ID" required/>
  <button type="submit">Delete</button>
</form>
</div>
<div class="container">

  <h2>Books List:</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      {% for row in result %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

</html>